root = true

[*]
charset = utf-8
max_line_length = 150
end_of_line = lf
insert_final_newline = true

[src/{main,test}/{groovy,java,kotlin}/**.{groovy,java,kt}]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.gradle]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4
